body {
    background-color: beige;
    margin: 0px;
}
#header {
    background-color: aliceblue;
    width: 40%;
    margin: auto;
    border-radius: 5px;
    padding: 10px;
}
h1, p {
    color: blue;
    text-align: center;
}